.container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    width: 40%;
    margin: auto;
}

.interior {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-clip: content-box;
    box-shadow: inset 0 0 0 5px white;
}

.div1 {
    background-color: red;
    grid-column: 2;
}   

.div2 {
    position: relative;
    background-color: orange;
    transform: rotate(-15deg);
    border: 1px dotted orange;
}

.div3 {
    position: relative;
    background-color: yellow;
    order: 3;
    transform: rotate(50deg);
    border: 1px dotted yellow;
    top: -20%;
    right: 30%;
}

.div4 {
    position: relative;
    background-color: blue;
    order: 2;
    transform: rotate(40deg);
    border: 1px dotted blue;
    top: -50%;
    left: 10%;
}

.div5 {
    position: relative;
    background-color: plum;
    transform: rotate(15deg);
    border: 1px dotted plum;
    top: -60%;
    left: 50%;

}